* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

.flex-centered {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

div.users {
  width: 100vw;
  margin: 2rem 0;
  background-color: aquamarine;
  flex-wrap: wrap;
  justify-content: center;
}

div.user__screen {
  width: calc(90% / 7);
  height: 23vh;
  margin: 0 2px 2px;
  border: 2px solid red;
  background-color: aqua;
}

footer {
  position: fixed;
  width: 100vw;
  max-height: 20vh;
  background-color: black;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

/* header .button__box {
  height: 100%;
  width: 4vw;
  border: 2px solid yellow;
  align-items: center;
  text-align: center;
  padding: 7px 15px;
} */

.input__area {
  margin: 0 5px;
}

footer .input__box {
  height: 100%;
  text-align: center;
  padding: 2px;
  align-items: center;
  margin-right: 10px;
}

footer span.more__button {
  align-self: center;
}

.fa-solid {
  font-size: 1.5rem;
}
.green {
  color: green;
}

div.left__controls {
  margin-left: 2rem;
}

div.right__controls {
  height: 100%;
  align-items: center;
  background-color: #4a4a4a;
}

div.right__controls h3 {
  color: red;
  padding: 20px;
}
